.img-card {
  cursor: pointer;
  transition: all 100ms;
}

.img-card:hover {
  transition: all 100ms;
  filter: grayscale(15%) brightness(90%) contrast(81%);
  -webkit-filter: grayscale(15%) brightness(90%) contrast(81%);
  -moz-filter: grayscale(15%) brightness(90%) contrast(81%);
}
