
.img-card{
    padding: 15px 0px;
    cursor: pointer;
    transition: all 100ms;
}

.img-card:hover{
    transition: all 100ms;
  transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
}